/* styles.css */

/* Estilos Gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.task-form, .task-filters, .task-counters, .change-log {
    margin-bottom: 20px;
}

.task-form input, .task-form button {
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.task-form button {
    background-color: #007bff;
    color: #fff;
}

.task-form button:hover {
    background-color: #0056b3;
}

.task-filters button, .task-filters select {
    margin-right: 10px;
}

.task-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.task-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    position: relative;
}

.task-item.completed {
    background-color: #d4edda;
    border-color: #c3e6cb;
    text-decoration: line-through;
}

.task-item .task-checkbox {
    margin-right: 10px;
}

.task-item .edit-button, .task-item .delete-button {
    margin-left: 10px;
}

button {
    background-color: #007bff;
    color: #fff;
}

button:hover {
    background-color: #0056b3;
}

.dragging {
    opacity: 0.5;
}

/* Tema escuro */
.dark-theme {
    background-color: #121212;
    color: #ffffff;
}

.dark-theme .container {
    background-color: #1f1f1f;
}

.dark-theme .task-item {
    background-color: #2c2c2c;
    color: #ffffff;
}

.dark-theme .task-form, .dark-theme .task-filters, .dark-theme .task-counters, .dark-theme .change-log {
    background-color: #2c2c2c;
    color: #ffffff;
}

button {
    background-color: #007bff;
    color: #fff;
}

button:hover {
    background-color: #0056b3;
}

/* Adicionando novos estilos */

/* Estilos para visualização de anexos */
.task-item img {
    max-width: 50px;
    max-height: 50px;
    margin-left: 10px;
}

/* Estilos para diferentes prioridades */
.task-item[data-priority="Baixa"] {
    border-left: 5px solid #d1e7dd;
}

.task-item[data-priority="Média"] {
    border-left: 5px solid #ffc107;
}

.task-item[data-priority="Alta"] {
    border-left: 5px solid #dc3545;
}
